/* Importation font */
@font-face {
    font-family: 'kionabold';
    src: url('../font/kiona-bold-webfont.woff2') format('woff2'),
         url('../font/kiona-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'kionaitallic';
    src: url('../font/kiona-itallic-webfont.woff2') format('woff2'),
         url('../font/kiona-itallic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'kionaregular';
    src: url('../font/kiona-regular-webfont.woff2') format('woff2'),
         url('../font/kiona-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;



}
body {
	display: flex;
	flex-wrap: wrap;
	background-color:;
	padding: 3%;
	margin: 0px;
}



/* Première colonne de mise en page */
.premiere_horizontale {
	display: flex;
 	justify-content: space-between;
 	flex-flow: row;
}

.presentation {
	width: 46%;
	background-color: red;
}
.experiences {
	width: 50%;
	background-color: blue;
}



/* Deuxième colonne de mise en page */
.deuxieme_horizontale {
	display: flex;
 	justify-content: space-between;
 	flex-flow: row;
 	width: 100%;
}

.texte_jaune {
	width: 60%;
	background-color: green;
}
.competences {
	width: 40%;
	background-color: gray;
}



/* Troisième colonne de mise en page */
.troisieme_horizontale {
	display: flex;
 	justify-content: space-between;
 	flex-flow: row;
 	width: 100%;
}

.contact-reseaux {
	width: 48%;
	background-color: purple;
}

.illustration {
	width: 48%;
	background-color: pink;
}




/* Présentation */

h2 {
	font-family: 'kionaregular';
	text-align: right;
	font-size: 4vmax; 
}

h2 span {
	font-family: 'kionabold'; 
	text-align: right;
	font-size: 150%;
}

h4{
	font-family: 'kionaitallic';
	text-align: right;
	font-size: 1.8vmax;
}

.presentation_p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 1.4vmax;
	text-align: right;
}

#blabla {
	font-family: 50px;
	text-align: justify;
}

.langues_parlees {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	text-align: right;
	font-size: 1.4vmax;
}

.langues {
	font-family: 'Source Sans Pro', sans-serif;
	font-style: italic;
	font-size: 1.4vmax;
	text-align: right;
	width: 100%;
	display: flex;
	justify-content: space-between;
}



/* Expérience */
h3 {
	font-family: 'kionabold';
	font-size: 2.3vmax;
}

.e-artsup {

}

.permis {

}

.lycee {

}

.description_ex {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.4vmax;
}

.années {
	font-family: 'kionabold';
	font-size: 2vmax;
	background-color: #fef082;
 	width: 25%;
 	height: 1.4vmax;
 	display: flex;
 	justify-content: center;
 	align-items: center;

}

.experiences_titre {
	text-align: left;
	width: 75%;
}

.texte_jaune {

}

/* Gros titre jaune */

h1 {

	color: #fef082;
	font-family: 'kionabold'; 
	font-size: 8vmax;

}

/* Compétences */


h3 span {
	text-align: left;
}


