/* Importation font */
@font-face {
    font-family: 'kionabold';
    src: url('../font/kiona-bold-webfont.woff2') format('woff2'),
         url('../font/kiona-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'kionaitallic';
    src: url('../font/kiona-itallic-webfont.woff2') format('woff2'),
         url('../font/kiona-itallic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'kionaregular';
    src: url('../font/kiona-regular-webfont.woff2') format('woff2'),
         url('../font/kiona-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bisondemibold';
    src: url('../font/bison-demibold-webfont.woff2') format('woff2'),
         url('../font/bison-demibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	display: flex;
	flex-wrap: wrap;
	background-color:#F1F1F1;
	padding: 3%;
	margin: 0px;
	z-index: 2;
}








/* Première colonne de mise en page */
.premiere_horizontale {
	display: flex;
	align-items: flex-end;
 	justify-content: space-between;
 	flex-flow: row;
 	
}

.presentation {
	width: 46%;
	height: 37vmax;
	/*background-color: red;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.experiences {
	width: 50%;
	height: 37vmax;
	/*background-color: blue;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}








/* Deuxième colonne de mise en page */
.deuxieme_horizontale {
	display: flex;
 	justify-content: space-between;
 	flex-flow: row;
 	height: 20%;
}

.texte_jaune {
	width: 60%;
	height: 100%;
	/*background-color: green;*/
}
.competences {
	width: 40%;
	/*background-color: gray;*/
	flex-direction: column;
	display: flex;
	justify-content: space-between;
	padding-bottom: 7%;
}








/* Troisième colonne de mise en page */
.troisieme_horizontale {
	display: flex;
 	justify-content: space-between;
 	flex-flow: row;
 	width: 100%;
}

.contact-reseaux {
	width: 48%;
	height: 135%;
	/*background-color: purple;*/
}

.illustration {
	/*background-color: pink;*/
}










/* Présentation */

h2 {
	font-family: 'kionaregular';
	text-align: right;
	font-size: 4vmax; 
	margin: 0;
	letter-spacing: 0.5vmax;
}

h2 span {
	font-family: 'kionabold'; 
	text-align: right;
	font-size: 150%;
	margin: 0;
}

h4{
	font-family: 'kionaitallic';
	text-align: right;
	font-size: 1.8vmax;
	margin: 0;
}

.presentation_p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 1.4vmax;
	text-align: justify;
	margin: 0;
}

#naissance {
	display: flex;
	justify-content: flex-end;
}

.langues_parlees {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	text-align: right;
	font-size: 1.4vmax;
	margin: 0;
}

.langues {
	font-family: 'Source Sans Pro', sans-serif;
	font-style: italic;
	font-size: 1.4vmax;
	text-align: right;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0;
}










/* Expérience */
h3 {
	font-family: 'kionabold';
	font-size: 3vmax;
	margin-top: 0;
	letter-spacing: 0.5vmax;
	}


.e-artsup {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 1vmax;
}

.permis {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 1vmax;
}

.lycee {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 1vmax;
}

.description_ex {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.4vmax;
}

.années {
	font-family: 'kionabold';
	font-size: 2vmax;
	background-color: #fef082;
 	width: 25%;
 	display: flex;
 	justify-content: center;
 	align-items: center;

}

.experiences_titre {
	text-align: left;
	width: 74%;
}









/* Gros titre jaune */

h1 {

	color: #fef082;
	font-family: 'kionabold'; 
	font-size: 8vmax;
	letter-spacing: 0.5vmax;

}

.texte_jaune {
	display: flex;
	align-items: center;
	height: 45vmax;
}









/* Compétences */


#orientation_droite {
	text-align: right;
} 

h3 span {
	text-align: left;
}

.logos {
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: flex-end;
	margin: 0;
	margin-bottom: 8%;
	height: 100%;
}

.logos_v_bas {
	display: flex;
	justify-content: space-between;
}

.logos_v_haut {
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 23%;
	height: auto;
}

h5 {
	font-family: 'bisondemibold';
	font-size: 3.5vmax;
	text-align: center;
	margin: 0.6vmax;
}









/* Contact & réseaux sociaux */

.contact-reseaux {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.contact {
	display: flex;
	margin-bottom: -6%;
}

.reseaux {
	display: flex;
}

ul {
	list-style:none;
	margin-top: 0.6vmax;
	margin-bottom: 0.6vmax;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

li {
	list-style:none;
	margin-top: 0.6vmax;
	margin-bottom: 0.6vmax;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.6vmax;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}









/* dessin */

.illustration {
	display: flex;
	justify-content: center;
	overflow: hidden;
	margin-right: -3%;
}

#dessin {
	width: 38%;
	margin-left: 52%;
	margin-top: 79%;
	margin-right: 0%;
	margin-bottom: 0%;
	height: auto;
	transform: scaleX(-1);
	position: absolute;
	top: 0%;
	left: 0%;
	bottom: 0%;
	right: 0%;
}









/*Design*/

.rectangle_1 {
	background-color: #fef082;
	position: absolute;
	z-index: -1;
	height: 10%;
	width: 50%;
	top: 15%;
	left: -10%;
	transform: rotate(-5deg);
}

.rectangle_2 {
	background-color: #fef082;
	z-index: -1;
	height: 20%;
	width: 100%;
	margin-left: 0%;
	margin-top: 30%;
	transform: rotate(-5deg);
	color: #fef082;
	font-size: 2vmax;
}